/*  */
Body{
    height: 100rem;
}

.Home_section{
    background: rgb(30,6,68);
    background: linear-gradient(90deg, rgba(30,6,68,1) 0%, rgba(166,187,255,1) 100%);
    display: grid;
    grid-template-columns:35rem 28rem 28rem;
    height: 110rem;
    margin-top: 126px;
    margin-bottom: 100px;
    overflow: hidden;
    height: 100vh;
    box-sizing: border-box;
}
.Home_text_section{
   display: flex;
   margin-left: 5%;
   flex-direction: column;
   gap: 5rem;
}
.Home_toggle{
    width: 45%;
}
.Silicon-Heading h1{
    box-sizing: border-box;
    margin: 0px;
    margin-top: 20px;
    font-size: 4rem;
    color: white;
    font-family: Manrope,sans-serif;
    font-weight: 600;
}
.Home_section img{
    width: 100%;
    /* transition: 1s ease; */
}
.Home-mid-image{
    margin-top: 5rem;  
}

.Home_description{
    color:rgba(255, 255, 255, 0.7);
    font-family: Manrope,sans-serif;
    font-size: 25px;
    width:55%;
}
.Home_sec_image{
    margin-top: -40%;
}

@media screen and (max-width:800px) {

    .Home_sec_image{
     display: none;
    }
    .Home-mid-image{
     display: none;
    }
 
    .Home_section{
        margin-top: 134px;
        background: linear-gradient(90deg, rgba(30,6,68,1) 0%, rgba(166,187,255,1) 100%);
        display:grid;
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 100px;
        height: 50%;
        z-index: -1;
    
    }
 
    .Home_section{
        height: 30%;
        text-align: center;
     
   }
 
   .Home_description-total{
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .Home_toggle>img{
     /* border: 2px solid red; */
     width: 70%;
     margin-left: 70%;
     margin-bottom: 20px;
   }

   .Silicon-Heading h1{
    font-size: 3rem;
   }


  
 
 }

